* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcomeSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/assets/scss/img/hero_1.jpg);
  width: 100%;
  background-size: cover;
  height: 739px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbartext {
  color: white;
  font-size: 27px;
}

.hamburgermenu {
  background-color: transparent;
  color: white;
}

.icon {
  color: white;
}

.welcomeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.welcometovilla {
  color: white;
  font-size: 89px;
}

.discover {
  color: white;
  font-size: 25px;
}

.exploreBtn {
  background-color: #E61C5D;
  color: white;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 24px;
}

.downloadBtn {
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  width: 170px;
  color: white;
  border-radius: 24px;
}

.visit {
  color: gray;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.canyouvisit {
  margin-top: 30px;
}

.welcomeSection {
  margin-bottom: 30px;
}

.star {
  color: #E61C5D;
}

.reviews {
  color: gray;
}

.iconandreviews {
  display: flex;
  justify-content: space-between;
}

.myimg {
  max-width: 100%;
}

.food {
  font-size: 19px;
}

.gorgeousandlorem {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 720px;
}

.gorgeous {
  font-size: 78px;
  font-family: Arial, Helvetica, sans-serif;
}

.lorem {
  font-size: 18px;
  color: gray;
}

.gorgeousandloremsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.yatchimg {
  max-width: 100%;
}

.recentandlorem {
  text-align: center;
}

.recent {
  font-size: 77px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loremimp {
  font-size: 18px;
  color: gray;
}

.recentandlorem {
  width: 720px;
}

.recentandloremdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 30px;
}

#productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apiimage {
  width: 400px;
  gap: 30px;
}

#pagi {
  border: 2px solid #E61C5D;
  background-color: transparent;
  color: #E61C5D;
  width: 220px;
  height: 60px;
  border-radius: 20px;
  margin-top: 30px;
}

.carticon {
  color: #E61C5D;
  font-size: 40px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px solid #E61C5D;
}